$color-theme-bg-hover: hsla(266, 100%, 70%, 0.18);
$font-small: normal 15px 'Open Sans';

.user {
	width: 340px;
	text-align: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.2s;
	cursor: pointer;
	&:hover {
		background-color: $color-theme-bg-hover;
	}
	a {
		text-decoration: none;
	}
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}
	#middle {
		width: 210px;
		overflow: hidden;
		white-space: nowrap;
		padding-left: 15px;
		.name {
			color: aliceblue;
			font-size: 18px;
		}
		.description {
			width: 210px;
			overflow: hidden;
			color: darkgrey;
			font-size: 15px;
		}
	}
	#right {
		width: 40px;
		text-align: center;
		div {
			margin: 0 auto;
			color: aliceblue;
			font: $font-small;
		}
	}
}

.live {
	margin: 0 auto;
	margin-bottom: 5px;
	width: 13px;
	height: 13px;
	background-color: hsl(5, 80%, 50%);
	border-radius: 50%;
}

.offline {
	margin: 0 auto;
	margin-bottom: 5px;
	width: 13px;
	height: 13px;
	background-color: hsl(5, 5%, 45%);
	border-radius: 50%;
}